<!DOCTYPE html>
<html>
<head>
  <title>Companies | MonkeyPesa</title>
  <%- include('../common/header.ejs') %>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Page Logo !-->
  <div>
  	<img class="logo-main" src="/shared/img/logo.png" alt="Page Logo Here">
  </div>
  <!-- End Page Logo !-->

  <!-- The Navigation Menu -->
  <nav class="main-header">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="/sales" class="nav-link active">Sales</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">Contacts</a>
      </li>
      <li class="nav-item">
        <a href="/deals" class="nav-link">Deals</a>
      </li>
      <li class="nav-item">
        <a href="/tasks" class="nav-link">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Automation</a>
      </li>
      <li class="nav-item">
        <a href="/calendar" class="nav-link">Calendar</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Appointments</a></li>
          <li><a href="#" class="dropdown-item">Mail</a></li>
          <li><a href="#" class="dropdown-item">File Repository</a></li>
          <li><a href="#" class="dropdown-item">Workflows</a></li>
          <li><a href="#" class="dropdown-item">Sequences</a></li>
          <li><a href="#" class="dropdown-item">Trash</a></li>
          <li><a href="#" class="dropdown-item">Activities</a></li>
          <li><a href="#" class="dropdown-item">Products</a></li>
          <li><a href="#" class="dropdown-item">Proposals</a></li>
          <li><a href="#" class="dropdown-item">Reports</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="users/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
<!-- End Navigation Menu !-->

<!-- Main Content !-->
  <div class="main-content">
    <div class="add-form-popup p-0 mx-auto" id="addForm">
      <!-- Form !-->
      <%- include('../common/form.ejs') %>
      <!-- End Form!-->
    </div>

    <div class="row">
      <div class="col-md-8 col-lg-8">
        <h3 class="text-left">
          Companies
        </h3>
      </div>
      <div class="col-md-4 col-lg-4 no-list-style">
        <ul class="d-flex flex-row-reverse header-list">
          <li class="nav-item">
            <a class="btn btn-info" href="/companies/import" role="button">Import</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary" href="/companies/actions" role="button">Actions</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="#" role="button" onclick="addForm()">Add Contact</a>
          </li>
        </ul>
      </div>
    </div>

  	<div class="table-responsive">

      <table class="table table-hover" id="contacts-table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Created Date</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Check</td>
            <td>Alex</td>
            <td>alextest@gmail.com</td>
            <td>10/10/2020</td>
            <td>Kampala, Uganda</td>
            <td>Confirmed</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table table-hover" id="contacts-table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Has Password</th>
            <th>Role</th>
            <th>Website</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <% for(var j = 0; j < data.length; j++ ){ %>
              <tr>
                <td></td>
                <td><%= data[j].displayName %></td>
                <td><%= data[j].email %></td>
                <td><%= data[j].password %></td>
                <td><%= data[j].role %></td>
                <td><%= data[j].website %></td>
                <td>Confirmed</td>
              </tr>
            <% } %>
        </tbody>
      </table>
    </div>

  </div>
<!-- End Main Content !-->


<!-- Footer !-->
<%- include('../common/footer.ejs') %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- Javascript Files !-->
<%- include('../common/jsinclude.ejs') %>
<!-- End Javascript Files !-->


</body>
</html>
